@import url(https://fonts.googleapis.com/css?family=Gudea:400,700);
$color: rgb(160, 158, 158);
$color2: #001E47;
$color3: rgb(167, 167, 167);
$color4: #fff;
$color5: #FF5757;

$font:'Gudea', sans-serif;